<div>
<% if @culinary_artist %>

	<%= link_to "Ingredients", ingredients_path %> |
	<%= link_to "Recipes", culinary_artist_recipes_path %> |
	<%= link_to "New Recipe", new_culinary_artist_recipe_path %>
	<%= link_to "Log Out", logout_path %>

<% end %>

</div>
