<ul class="navbar-nav">
<div>
<% if @culinary_artist_id %>

	<%= link_to "Ingredients", ingredients_path %> |
	<%= link_to "Recipes", culinary_artist_recipes_path, class: "all_recipes" %> |
	<%= link_to "New Recipe", new_culinary_artist_recipe_path %> |
	<%= link_to "Log Out", logout_path %>

<% end %>

</div>
</ul>
